/*----------------------------------------*/
/*  BRAND CSS START
/*----------------------------------------*/

@use "../utils" as *;

@use "../utils" as *;

.brand__title {
  text-align: center;
  span {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 65px;
    display: inline-block;
    text-align: center;
  }
}

.brand__title1 {
  text-align: left;
  span {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 65px;
    // display: inline-block;
    text-align: left;
  }
}

.brand__title2 {
  text-align: left;
  span {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 65px;
    display: inline-block;
    text-align: left;
  }
}
.singel__brand {
  text-align: center;
}
