.cardHover {
  /* width: 360px; */
  height: 400px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.cardHover:hover .cardHoverContent {
  background-color: #22a9cb;
  bottom: 100%;
  transform: translateY(100%);
  padding: 40px 40px;
  transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.cardHover:hover .cardHoverLink {
  opacity: 1;
  transform: translate(-50%, 0);
  transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.cardHover:hover img {
  transform: scale(1);
  transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.cardHoverContent {
  width: 100%;
  text-align: center;
  background-color: #16b99b;
  padding: 0 40px 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(0);
  transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  will-change: bottom, background-color, transform, padding;
  z-index: 1;
}

.cardHoverContent::before,
.cardHoverContent::after {
  content: "";
  width: 100%;
  height: 120px;
  background-color: inherit;
  position: absolute;
  left: 0;
  z-index: -1;
}

.cardHoverContent::before {
  top: -80px;
  clip-path: ellipse(60% 80px at bottom center);
}

.cardHoverContent::after {
  bottom: -80px;
  clip-path: ellipse(60% 80px at top center);
}

.cardHoverTitle {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.cardHoverTitle span {
  color: #2d7f0b;
}

.cardHoverText {
  font-size: 0.75rem;
}

.cardHoverLink {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #2d7f0b;
  opacity: 0;
  padding: 10px;
  transition: all 0.35s;
}
.cardHoverLink:hover svg {
  transform: translateX(4px);
}

.cardHoverLink svg {
  width: 18px;
  margin-left: 4px;
  transition: transform 0.3s;
}

.cardHoverExtra {
  height: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  background-color: #86b971;
  padding: 80px;
  bottom: 0;
  z-index: 0;
  color: #dee8c2;
  transform: translateY(100%);
  will-change: transform;
  transition: transform 0.35s;
}

.cardHoverExtra span {
  color: #2d7f0b;
}

.imgCss {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  transform: scale(1.2);
  transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}
